<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" /> 
		<title><%- title %></title>
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" />
	</head>
	<body>
		<div id="content" react="<%- react %>"/>
		<script src="bundle.js"></script>
		</script>
	</body>
</html>